*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--background--color);
}
:root{
    --tank--body--color: #96957e;
    --whell--background--color: #333333;
    --rim--background--color: #555555;
    --ball--shot--color: #333333;
    --background--color:  #848f4b;
    --level--area--background--color: #a0acb2;
    --wall--background--color: #4e4d52;
}
img{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
}
/* logo */
/* game area */
.game-area-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--level--area--background--color);
    border: 3px solid white;
}
.level-1{
    border: 3px solid white;
    width: 500px;
    height: 300px;
    background-color: var(--level--area--background--color);
    display: flex;
    align-items: center;
    border-right: none;
    justify-content: center;
}
.level-2,
.level-3,
.level-4{
    display: flex;
    border: 3px solid white;
    border-right: none;
    width: 450px;
    height: 300px;
    background-color: var(--level--area--background--color);
}
.level-2,
.level-3,
.level-4{
    border-left: none;
}
.tarret-1,
.tarret-2,
.tarret-3,
.tarret-4{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tarret-1{
    left: 575px;
}
.tarret-2{
    left: 1050px;
}
.tarret-3{
    left: 1550px;
}
.tarret-4{
    left: 2050px;
}
.center-dot{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
}
.level-1-walls,
.level-2-walls,
.level-3-walls,
.level-4-walls{
    width: 25px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: var(--level--area--background--color);
}
.level-1-top-wall,
.level-2-top-wall,
.level-3-top-wall,
.level-4-top-wall,
.level-1-bottom-wall,
.level-2-bottom-wall,
.level-3-bottom-wall,
.level-4-bottom-wall{
    background-color: var(--wall--background--color);
    width: 25px;
    height: 135px;
}
.level-1-bottom-wall,
.level-2-bottom-wall,
.level-3-bottom-wall,
.level-4-bottom-wall{
    margin-top: 30px;
}
.finish-area{
    width: 150px;
    height: 300px;
    background-color: green;
}
/* game area */
/* tank */
.tank-container{
    /* display: none; */
    position: absolute;
    left: 250px;
    top: 48%;
    transform: translateY(-50%);
}
.top-body-first{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 75px;
    height: 15px;
    margin-left: 35px;
}
.top-body-first .body{
    width: 20px;
    background-color: var(--tank--body--color);
    height: 20px;
    border-radius: 20px 20px 0 0;
    border: 5px groove black;
}
.top-body-first .ball-shot-area{
    width: 30px;
    height: 8px;
    background-color: var(--ball--shot--color);
    margin-left: -5px;
    border-radius: 0 5px 5px 0;
}
.top-body-first .fire-ball{
    background-color: var(--rim--background--color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
}
.top-body-second{
    width: 55px;
    height: 8px;
    background-color: var(--tank--body--color);
    margin-left: 25px;
    border: 7px groove black;
    border-bottom-style: none;
    border-radius: 15px 15px 0 0 ;
}
.bottom-body{
    background-color: var(--tank--body--color);
    width: 100px;
    height: 35px;
    border-radius: 15px 15px 40px 40px;
    border: 10px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.whell-1,
.whell-2,
.whell-3,
.whell-4,
.whell-5{
    width: 10px;
    background-color: var(--whell--background--color);
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
}
.rim-1,
.rim-2,
.rim-3,
.rim-4,
.rim-5{
    width: 7px;
    height: 7px;
    background-color: var(--rim--background--color);
    border-radius: 2px;
}
.whell-1{
    top: 5px;
    left: 10px;
}
.whell-2{
    top: 20px;
    left: 20px;
}
.whell-3{
    top: 20px;
    left: 45px;
}
.whell-4{
    top: 20px;
    left: 70px;
}
.whell-5{
    top: 5px;
    left: 80px;
}
/* tank */
.footer-container{
    width: 60%;
    height: 6vh;
    background-color: #73777B;
    position: absolute;
    bottom: 0;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon img{
    width: 64px;
    height: 64px;
}